@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

body {
  background: url("https://images.unsplash.com/photo-1598569642686-2342adb8d4dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.main {
  padding: 5rem 9rem;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.main .current-info {
  display: flex;
  justify-content: space-between;
}

.main .current-info .info-container .w-icon {
  height: 400px;
  margin-top: -70px;
}

@media screen and (max-width: 1536px) {
  .main .current-info .info-container .w-icon {
    height: 300px;
  }
}

@media screen and (max-width: 1367px) {
  .main .current-info .info-container .w-icon {
    height: 250px;
  }
}

@media screen and (max-width: 415px) {
  .main .current-info .info-container .w-icon {
    height: fit-content;
  }
}

@media screen and (max-width: 361px) {
  .main .current-info .info-container .w-icon {
    height: 100px;
  }
}

.main .current-info .info-container .temperature {
  font-size: 120px;
  font-weight: 200;
  text-align: center;
  color: white;
}

@media screen and (max-width: 1367px) {
  .main .current-info .info-container .temperature {
    font-size: 90px;
  }
}

@media screen and (max-width: 1025px) {
  .main .current-info .info-container .temperature {
    font-size: 60px;
  }
}

@media screen and (max-width: 415px) {
  .main .current-info .info-container .temperature {
    font-size: 42px;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 361px) {
  .main .current-info .info-container .temperature {
    font-size: 42px;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 415px) {
  .main .current-info .info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100px;
  }
}

@media screen and (max-width: 361px) {
  .main .current-info .info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100px;
  }
}

.main .current-info .place-container {
  font-size: 34px;
  text-align: end;
  color: white;
}

.main .current-info .place-container .time {
  font-size: 64px;
  font-weight: 200;
}

@media screen and (max-width: 1025px) {
  .main .current-info .place-container .time {
    font-size: 40px;
  }
}

@media screen and (max-width: 361px) {
  .main .current-info .place-container .time {
    font-size: 24px;
    font-weight: 600;
  }
}

@media screen and (max-width: 415px) {
  .main .current-info .place-container .text {
    font-weight: 300;
  }
}

@media screen and (max-width: 361px) {
  .main .current-info .place-container .text {
    font-weight: 300;
  }
}

@media screen and (max-width: 1536px) {
  .main .current-info .place-container {
    font-size: 30px;
  }
}

@media screen and (max-width: 1367px) {
  .main .current-info .place-container {
    font-size: 24px;
  }
}

@media screen and (max-width: 1025px) {
  .main .current-info .place-container {
    font-size: 22px;
  }
}

@media screen and (max-width: 415px) {
  .main .current-info .place-container {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.6);
    color: black;
    font-weight: 600;
  }
}

@media screen and (max-width: 361px) {
  .main .current-info .place-container {
    font-size: 14px;
    background: rgba(255, 255, 255, 0.6);
    color: black;
    font-weight: 600;
  }
}

.main .current-info .weather-container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.555);
  padding: 20px;
  font-size: 34px;
  height: fit-content;
}

.main .current-info .weather-container .weather-item {
  font-weight: 200;
}

@media screen and (max-width: 1536px) {
  .main .current-info .weather-container {
    font-size: 30px;
  }
}

@media screen and (max-width: 1367px) {
  .main .current-info .weather-container {
    font-size: 26px;
  }
}

@media screen and (max-width: 1025px) {
  .main .current-info .weather-container {
    font-size: 22px;
  }
}

@media screen and (max-width: 415px) {
  .main .current-info .weather-container {
    font-size: 14px;
  }
}

@media screen and (max-width: 361px) {
  .main .current-info .weather-container {
    font-size: 12px;
  }
}

@media screen and (max-width: 415px) {
  .main .current-info {
    flex-direction: column;
  }
}

@media screen and (max-width: 361px) {
  .main .current-info {
    flex-direction: column;
  }
}

@media screen and (max-width: 1025px) {
  .main {
    padding: 3rem 3rem;
  }
}

@media screen and (max-width: 769px) {
  .main {
    padding: 4rem 2rem;
  }
}

@media screen and (max-width: 415px) {
  .main {
    padding: 1rem;
  }
}

.future-forecast {
  background: rgba(255, 255, 255, 0.7);
  padding: 3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.future-forecast .weather-forecast .weather-forecast-items {
  display: flex;
}

.future-forecast .weather-forecast .weather-forecast-items .day {
  text-align: center;
  width: 250px;
}

.future-forecast .weather-forecast .weather-forecast-items .day .week-day {
  padding: 3rem 0 0 0;
  font-size: 36px;
  font-weight: 400;
}

@media screen and (max-width: 1536px) {
  .future-forecast .weather-forecast .weather-forecast-items .day .week-day {
    font-size: 30px;
  }
}

@media screen and (max-width: 1367px) {
  .future-forecast .weather-forecast .weather-forecast-items .day .week-day {
    font-size: 26px;
  }
}

@media screen and (max-width: 1025px) {
  .future-forecast .weather-forecast .weather-forecast-items .day .week-day {
    font-size: 22px;
  }
}

@media screen and (max-width: 769px) {
  .future-forecast .weather-forecast .weather-forecast-items .day .week-day {
    font-size: 18px;
  }
}

@media screen and (max-width: 415px) {
  .future-forecast .weather-forecast .weather-forecast-items .day .week-day {
    font-size: 14px;
  }
}

.future-forecast .weather-forecast .weather-forecast-items .day .forecast-temperature {
  padding: 0 0 3rem 0;
  font-size: 32px;
  font-weight: 400;
}

@media screen and (max-width: 1536px) {
  .future-forecast .weather-forecast .weather-forecast-items .day .forecast-temperature {
    font-size: 28px;
  }
}

@media screen and (max-width: 1367px) {
  .future-forecast .weather-forecast .weather-forecast-items .day .forecast-temperature {
    font-size: 24px;
  }
}

@media screen and (max-width: 1025px) {
  .future-forecast .weather-forecast .weather-forecast-items .day .forecast-temperature {
    font-size: 18px;
  }
}

@media screen and (max-width: 415px) {
  .future-forecast .weather-forecast .weather-forecast-items .day .forecast-temperature {
    font-size: 14px;
  }
}

@media screen and (max-width: 1536px) {
  .future-forecast .weather-forecast .weather-forecast-items .day {
    width: 200px;
  }
}

@media screen and (max-width: 1367px) {
  .future-forecast .weather-forecast .weather-forecast-items .day {
    width: 170px;
  }
}

@media screen and (max-width: 1025px) {
  .future-forecast .weather-forecast .weather-forecast-items .day {
    width: 140px;
  }
}

@media screen and (max-width: 769px) {
  .future-forecast .weather-forecast .weather-forecast-items .day {
    width: fit-content;
  }
}

@media screen and (max-width: 361px) {
  .future-forecast .weather-forecast .weather-forecast-items .day {
    width: fit-content;
  }
}

.future-forecast .weather-forecast .w-icon {
  height: 200px;
}

@media screen and (max-width: 1536px) {
  .future-forecast .weather-forecast .w-icon {
    height: 150px;
  }
}

@media screen and (max-width: 1367px) {
  .future-forecast .weather-forecast .w-icon {
    height: 100px;
  }
}

@media screen and (max-width: 415px) {
  .future-forecast .weather-forecast .w-icon {
    height: 90px;
  }
}

@media screen and (max-width: 415px) {
  .future-forecast {
    overflow: scroll;
    width: 100vw;
    padding-left: 360px;
  }
}

@media screen and (max-width: 361px) {
  .future-forecast {
    overflow: scroll;
    width: 100vw;
    padding-left: 310px;
  }
}
/*# sourceMappingURL=style.css.map */